/* font-size 62.5% = 10px */
html {
    scroll-behavior: smooth;
    font-size: 62.5%; 
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;
}

/* hamburger */
.nav-burger {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
    top: 40px;
    right: 40px;
    z-index: 2;
    cursor: pointer;
    border: 1px solid red;
}

.nav-burger__element {
    position: absolute;
    width: 50px;
    height: 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 7px;
}

.nav-burger__element::before, .nav-burger__element::after {
    content: '';
    position: absolute;
    background-color:#fff;
    width: 25px;
    height: 10px;
    border-radius: 9px;
}

.nav-burger__element::before {
    top: 0;
    right: 0;
    transform: translateY(-20px);
}

.nav-burger__element::after {
    transform: translateY(20px);
}

.nav-burger.open .nav-burger__element{
    transform: rotate(45deg);
}
.nav-burger.open .nav-burger__element::before {
    transform: rotate(-90deg) translate(14px, -11px);
    border-radius:0 9px 9px 0;

}
.nav-burger.open .nav-burger__element::after {
    transform: rotate(-90deg) translate(-12px, 13px);
    border-radius: 9px 0 0 9px;
}


/* navbar starts here */
.nav-menu {
    position: fixed;
    top: 0;
    right: 0;
    background: #0c66138c;
    width: 400px;
    height: 100vh;
    font-size: 4rem;
    font-weight: 700;
}

.nav-menu__list {
    height: 100%;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
    list-style-type: none;
    padding: 0;
    position: absolute;
    left: 30%;

}
.nav-menu__li {
    width: fit-content;
    /* margin-left: 30%; */
    text-align: left;
}

.nav-menu__li:not(:last-child) {
    margin-bottom: 1em;
    border: 1px solid red;
}

.nav-menu__link {
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
}

.head-page {
    background: black;
    height: 100vh;
}