/* font-size 62.5% = 10px */
html {
    scroll-behavior: smooth;
    font-size: 62.5%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;
}

a[role='link'] {
    color: #20c997;
    text-decoration: none;
}

/* the real hamburger, not a macdonald's one */
.nav-burger {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
    top: 0px;
    right: 0px;
    z-index: 999;
    cursor: pointer;
    transition: all .5s ease-in-out;
}

.nav-burger__element {
    position: absolute;
    width: 47.5px;
    height: 7px;
    background-color: #20c997;
    border-radius: 5px;
    transition: all .5s ease-in-out;
}

.nav-burger__element::before,
.nav-burger__element::after {
    content: '';
    position: absolute;
    background-color: #20c997;
    width: 24px;
    height: 7px;
    border-radius: 5px;
    transition: all .5s ease-in-out;
}

.nav-burger__element::before {
    top: 0;
    right: 0;
    transform: translateY(-17.5px);
}

.nav-burger__element::after {
    transform: translateY(17.5px);
}

.nav-burger.nav-burger_open .nav-burger__element {
    transform: rotate(45deg);
}

.nav-burger.nav-burger_open .nav-burger__element::before {
    transform: rotate(-90deg) translate(11.75px, -12.5px);
    border-radius: 0 5px 5px 0;

}

.nav-burger.nav-burger_open .nav-burger__element::after {
    transform: rotate(-90deg) translate(-11.75px, 11.25px);
    border-radius: 5px 0 0 5px;
}


/* navbar starts here */
.nav-menu {
    position: fixed;
    top: 0;
    right: 0;
    background: #080808;
    width: 400px;
    height: 100vh;
    font-size: 4rem;
    font-weight: 700;
    transform: translateX(100%);
    transition: all .5s cubic-bezier(0.68,-0.55, 0.58, 1);
    z-index: 998;
}

.nav-menu_displayed {
    transform: translateX(0%);
}

.nav-menu__list {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
    position: absolute;
    left: 30%;
}

.nav-menu__li {
    width: fit-content;
}

.nav-menu__li:not(:last-child) {
    margin-bottom: 1em;
}

.nav-menu__link {
    text-decoration: none;
    color: #fff;
    transition: 0.3s ease-in-out;
}

.nav-menu__link:hover {
    color: #20c997;
}

.home {
    background: #000;
    color:#fff;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home__name {
    font-size: 9rem;
    font-weight: 700;
    text-shadow: 2px 2px rgb(23, 19, 200);
}

.home__h2 {
    font-size: 3rem;
    text-transform: capitalize;
    font-weight: 600;
    margin: 2rem 0;
    position: relative;
    padding-left: 52px;
    z-index: 0;
}

.home__h2::before {
    position: absolute;
    content: '';
    background: #fff;
    height: 1px;
    width: 40px;
    left: 0;
    top: 50%;
    z-index: 0;
}

.home__p {
    font-size: 2rem;
    text-transform: capitalize;
    font-weight: 600;
    padding-left: 52px;
}

.section {
    padding: 10rem 0;
    background: #fff;
}

.section-inner {
    max-width: 75%;
    margin: 0 auto;
}

.section__header {
    font-size: 6rem;
    font-weight: 700;
}

.section__p {
    color: #000;
    font-size: 1.6rem;
    font-weight: 400;
}

.section__p_mod {
    max-width: 380px;
    color: #a0a0a0;
    font-weight: 300;
    margin-bottom: 3rem;
}

.section-about {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.section-about__element {
   width: 49%;
}

.section-about__element:nth-child(1) {
    display: flex;
    flex-flow: row nowrap;
    height: 230px;
    min-width: 460px;
}

.section-about__element:nth-child(2) { 
  min-width: 300px;
  flex: 1;
  margin-left: 2rem;
}

.about-list {
    width: 100%;
    list-style-type: none;
    font-weight: 400;
    font-size: 1.6rem;
    padding-left: 0;
}

.about-list__element:not(:last-child) {
    padding: 1em;
    border-bottom: 1px solid #eaeaea;
}

.about-list__element_bold {
    font-weight: 600;
}

.section-about__my-photo {
    align-self: center;
    min-width: 200px;
    min-height: 200px;
    border-radius: 50%; 
    margin-right: 10px;
    background-image: url(../images/me.jpg);
    background-size: cover;
    box-shadow: 0.1px 0.1px 4px #a0a0a0,
                -0.1px -0.1px 4px #a0a0a0;
}

.section__h3 {
    font-size: 3rem;
    font-weight: 600;
}

.section__h3_green {
    color: #20c997;
}

.section__p_about-mod {
    padding: 1rem 0;
}