/* font-size 62.5% = 10px */
html {
    scroll-behavior: smooth;
    font-size: 62.5%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;
}

/* just the hamburger */
.nav-burger {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
    top: 0px;
    right: 0px;
    z-index: 2;
    cursor: pointer;
    transition: all .5s ease-in-out;
}

.nav-burger__element {
    position: absolute;
    width: 47.5px;
    height: 7px;
    background-color: #20c997;
    border-radius: 5px;
    transition: all .5s ease-in-out;
}

.nav-burger__element::before,
.nav-burger__element::after {
    content: '';
    position: absolute;
    background-color: #20c997;
    width: 24px;
    height: 7px;
    border-radius: 5px;
    transition: all .5s ease-in-out;
}

.nav-burger__element::before {
    top: 0;
    right: 0;
    transform: translateY(-17.5px);
}

.nav-burger__element::after {
    transform: translateY(17.5px);
}

.nav-burger.nav-burger_open .nav-burger__element {
    transform: rotate(45deg);
}

.nav-burger.nav-burger_open .nav-burger__element::before {
    transform: rotate(-90deg) translate(11.75px, -12.5px);
    border-radius: 0 5px 5px 0;

}

.nav-burger.nav-burger_open .nav-burger__element::after {
    transform: rotate(-90deg) translate(-11.75px, 11.25px);
    border-radius: 5px 0 0 5px;
}


/* navbar starts here */
.nav-menu {
    position: fixed;
    top: 0;
    right: 0;
    background: #080808;
    width: 400px;
    height: 100vh;
    font-size: 4rem;
    font-weight: 700;
    transform: translateX(100%);
    transition: all .5s ease-in-out;
}

.nav-menu_displayed {
    transform: translateX(0%);
}

.nav-menu__list {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
    position: absolute;
    left: 30%;
}

.nav-menu__li {
    width: fit-content;
}

.nav-menu__li:not(:last-child) {
    margin-bottom: 1em;
}

.nav-menu__link {
    text-decoration: none;
    color: #fff;
    transition: 0.3s ease-in-out;
}

.nav-menu__link:hover {
    color: #20c997;
}

.header {
    background: #000;
    height: 100vh;
}